In [62]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sn
import warnings
warnings.defaultaction = "ignore"
plt.style.use("seaborn")

In [63]:
frame = pd.read_csv("titanic.csv")
frame.head()

,Name,PClass,Age,Sex,Survived,SexCode
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,"Allison, Master Hudson Trevor",1st,0.92,male,1,0

In [64]:
X = frame[["PClass", "Age", "Sex", "SexCode"]]
y = frame[["Survived"]]

In [65]:
X.shape

(1313, 4)

In [66]:
X.head()

  PClass    Age     Sex  SexCode
0    1st  29.00  female        1
1    1st   2.00  female        1
2    1st  30.00    male        0
3    1st  25.00  female        1
4    1st   0.92    male        0

In [67]:
X.drop("Sex", axis = 1, inplace = True)

In [68]:
X.head()

  PClass    Age  SexCode
0    1st  29.00        1
1    1st   2.00        1
2    1st  30.00        0
3    1st  25.00        1
4    1st   0.92        0

In [69]:
from sklearn.preprocessing import StandardScaler

In [70]:
scaler = StandardScaler()

In [71]:
a =  pd.get_dummies(X.PClass).reset_index().drop(["*", "index"], axis = 1)

In [72]:
X.head()

  PClass    Age  SexCode
0    1st  29.00        1
1    1st   2.00        1
2    1st  30.00        0
3    1st  25.00        1
4    1st   0.92        0

In [73]:
X.drop("PClass", axis = 1, inplace = True)

In [74]:
new_X = pd.concat([X, a], axis = 1)

In [80]:
standardizer = StandardScaler()

# Standardize features
X_std = standardizer.fit_transform(new_X)

In [81]:
from sklearn.preprocessing import Binarizer
bina = Binarizer(new_X.Age.mean())

In [87]:
X_std.fillna(new_X.Age.mean()).head()

AttributeError: 'numpy.ndarray' object has no attribute 'fillna'

In [85]:
x_train, x_test, y_train, y_test = train_test_split(X_std, y, train_size = 0.7, random_state = 1)

In [86]:
from sklearn.neighbors import KNeighborsClassifier
score = [] 
for i in range(1,21):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train, y_train)
    score.append(knn.score(x_test, y_test))

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').